.Cuerpo {
	margin-top:20px;
	padding:25px;
	position:relative;
	text-align:center;
	font-size:30px;
	margin-left: 2px;
	left: 201px;
	width: 800px;
	background-color: lightgrey;
	

}

.prueba {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
	background-image: url('fondo.jpg');
	background-size: auto;
	background-position: top;
}

.titulo {
color:red;
}
