
<!DOCTYPE html>
<html>
<head>
@*    <meta name="viewport" content="width=device-width, initial-scale=1">*@

    <link href="~/css/style.css" rel="stylesheet" />
    
    <script src="~/js/menu_.js"></script>

    


</head>
<body style="background-image: url('./Images/logo-Ricza-01-1.png')" id=fondo>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="sidebar">
        <ul class="menu">
            <li>
                <a href=@Url.ActionLink("Menu","CMenu") id="seleccionmenu">Home</a>
                <ul class="submenu">
                    <li><a href=@Url.ActionLink("Menu","CMenu")>Inicio</a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="seleccionmenu">Operaciones</a>
                <ul class="submenu">
                    <li><a href="#" id="producto1">Contraseñas</a></li>
                    <li><a href="#" id="producto2">Producto 2</a></li>
                    <li><a href="#" id="producto3">Producto 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="seleccionmenu">Ventas</a>
                <ul class="submenu">
                    <li><a href=@Url.Action("Crear","Cotizacion") id="coti">Cotizacion</a></li>
                    <li><a href=@Url.Action("Crear","Pedido") id="pedido">Pedido</a></li>
                    <li><a href=@Url.Action("Buscar","Factura") id="factura">Factura</a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="seleccionmenu">Socio de Negocios</a>
                <ul class="submenu">
                    <li><a href=@Url.Action("Cliente","SN") id="producto1">Datos Maestros SN</a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="seleccionmenu">Inventario</a>
                <ul class="submenu">
                    <li><a href=@Url.Action("Buscar","Articulo") id="producto1">Datos Maestros Articulo</a></li>
                </ul>
            </li>
            <li>
                <a href="#" id="seleccionmenu">Informes</a>
            </li>
            <li>
                <a href="#" id="seleccionmenu">Contacto</a>
            </li>
        </ul>
    </div>




</body>

</html>
