
<link href="~/css/coti.css" rel="stylesheet" />
<html>
    <body>
        <div id="movableDiv" class="Window">
            <form>
            <div class="window-header">
                <p class="window-title" id="window-title">Cotización</p>
                
            </div>

            <div class="window-content" id="window-content">
                <p>prueba</p>
            </div>





            <div class="piedoc">
                <button class="buscar" id="buscar"> Buscar</button>
                <button class="crear" id="crear">Crear</button>
                <button class="guardar" id="guardar">Guardar</button>
                <button class="cancelar" id="cancelar">Cancelar</button>
                <button class="mbuscar" id="mbuscar">B</button>
                <button class="mcrear" id="mcrear">+</button>
            </div>
            </form>
            




        </div>
    </body>

</html>